<div class="education-container">
    <h1 class="page-title">Parcours Académique</h1>
  
    <div class="timeline">
      <!-- Formation 1 -->
      <mat-card class="education-card">
        <div class="card-header">
          <mat-icon class="education-icon">school</mat-icon>
          <div class="header-content">
            <h2>Licence en Informatique réseaux et télécommunication</h2>
            <h3>ESGIS - Lomé, Togo</h3>
            <div class="education-period">2013 - 2016</div>
          </div>
        </div>
        
        <mat-divider></mat-divider>
  
        <mat-card-content>
          <h4>Principaux acquis :</h4>
          <ul>
            <li>Architecture des réseaux informatiques</li>
            <li>Programmation système</li>
            <li>Administration système</li>
            <li>Administration de bases de données</li>
            <li>Sécurité informatique</li>
          </ul>
        </mat-card-content>
      </mat-card>
  
      <!-- Formation 2 -->
      <mat-card class="education-card">
        <div class="card-header">
          <mat-icon class="education-icon">library_books</mat-icon>
          <div class="header-content">
            <h2>Baccalauréat Mathématiques et Sciences</h2>
            <h3>Collège Polyvalent Saint-Esprit - Kpalimé</h3>
            <div class="education-period">2011 - 2012</div>
          </div>
        </div>
  
        <mat-divider></mat-divider>
  
        <mat-card-content>
          <h4>Option :</h4>
          <mat-chip-listbox>
            <mat-chip>Mathématiques</mat-chip>
            <mat-chip>Physique-Chimie</mat-chip>
            <mat-chip>Sciences de la Vie et de la Terre</mat-chip>
          </mat-chip-listbox>
        </mat-card-content>
      </mat-card>
    </div>
</div>
